<div class="container">
    <div class="container center">
      <iframe src="https://calendar.google.com/calendar/embed?src=ht15omar%40gmail.com&ctz=America%2FMexico_City" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div> 
  </div>