 <!-- Dropdown Trigger -->
 
 <div class="row">
  <div class="input-field col s12 m5 l5 ">
    <select>
      <option value="" disabled selected>Escoge una opción...</option>
      <option value="1">Mastografía</option>
      <option value="2">Densitometría</option>
      <option value="3">Papanicolaou</option>
      <option value="4">Colposcopia</option>
      <option value="5">Biopsia</option>
      <option value="6">Consulta Ginecológica</option>
      <option value="7">Consulta Urológica</option>
      <option value="8">Consulta Oncológica</option>
      <option value="9">Consulta Nutricional</option>
      <option value="10">Terapia Psicológica</option>
      <option value="11">Tratamiento de Células</option>
      <option value="12">Vacunas contra VPH</option>
    </select>
    <label>Tipos Tratamiento</label>
 </div>
 

  <div class="input-field col s3 m3">
    <label for="">Fecha de Servicio:</label>
    <input type="text" name="fecha_servicio" placeholder="aaaa-mm-dd" required>
  </div>

  <div class="input-field col s3 m3">
    <select>
      <option value="" disabled selected>Escoge un Doctor...</option>
      <option value="1">Dra. Amalia Rodriguez</option>
      <option value="2">Dra. Maria Ávalos</option>
      <option value="3">Dr. Juan Uriel Torres</option>
      <option value="4">Dr. Fernando Cabrera</option>
      <option value="5">Dr. Sergio Armando Botello</option>
     
    </select>
    <label>Doctor Asignado:</label>
  </div>





 </div>
  
 