  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger center' href='#' data-target='dropdownG'>
    <div class="card-panel  blue lighten-2 hoverable">
      <h5 class="white-text"> SISTEMA GESTOR DE DATOS </h5>  
     </div>
  </a>

  <!-- Dropdown Structure -->
  <ul id='dropdownG' class='dropdown-content'>
    <ul >
        <li>
            <a class="modal-trigger" href="/pacientes/nuevo_paciente">
              <div class="card-panel center hoverable">
                 <h5>Agregar Nuevo Paciente</h5>
              </div>
            </a>
        </li>
        <div class="divider" tabindex="-1"></div>
        <li>
            <a class="modal-trigger" href="#modal2">
              <div class="card-panel center hoverable">
                 <h5>Editar Paciente</h5>
              </div>
            </a>
        </li>
        <li class="divider" tabindex="-1"></li>
        <li>
            <a class="modal-trigger" href="#modal3">
              <div class="card-panel center hoverable">
                 <h5>Eliminar Paciente</h5>
              </div>
            </a>
        </li>
    </ul>
  </ul>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Agregar Nuevo Usuario</h4>
      <p>


      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
      <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Editar Usuario</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      
    </div>
  </div>

  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Eliminar Usuario</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>