 <!-- Dropdown Trigger -->
 <a class='dropdown-trigger center' href='#' data-target='dropdownC'>
    <div class="card-panel  blue lighten-2 hoverable">
      <h5 class="white-text"> CONSULTA </h5>  
     </div>
  </a>

  <!-- Dropdown Structure -->
  <ul id='dropdownC' class='dropdown-content'>
    <ul >
        <li>
            <a class="modal-trigger" href="#modal1">
              <div class="card-panel center hoverable">
                 <h5>Historial</h5>
              </div>
            </a>
        </li>
        <!-- <div class="divider" tabindex="-1"></div>
        <li>
            <a class="modal-trigger" href="#modal2">
              <div class="card-panel center hoverable">
                 <h5>Generar Reporte</h5>
              </div>
            </a>
        </li>
        <li class="divider" tabindex="-1"></li>
        <li>
            <a class="modal-trigger" href="#modal3">
              <div class="card-panel center hoverable">
                 <h5>Casos de Éxito</h5>
              </div>
            </a>
        </li> -->
    </ul>
  </ul>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Historial</h4>
      <p> 


      </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
      <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Generar Reporte</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      
    </div>
  </div>

  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Casos de Éxito</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>