      <!-- Javascript de Materialize -->
      <script src="/js/materialize.min.js"></script>
      <!-- Javascript de DataTables -->
      <script src="/js/jquery-3.6.0.min.js"></script>
      <script src="/js/datatables.min.js"></script>
      <script>  $(document).ready(function() {
                $('#tablas').DataTable();
               } );
      </script>
      
      <style>
         header, main, footer {
            padding-left: 300px;
          }
      
          @media only screen and (max-width : 992px) {
            header, main, footer {
              padding-left: 0;
            }
          }
      
      </style>

      <!-- Javascript de bootstrap -->
      <script>
          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
             });
          
          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
            });
          
          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
            });
          
          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
            });
          
          document.addEventListener('DOMContentLoaded', function() {
             var elems = document.querySelectorAll('.tooltipped');
             var instances = M.Tooltip.init(elems);
          });

          document.addEventListener('DOMContentLoaded', function() {
             var elems = document.querySelectorAll('.autocomplete');
             var instances = M.Autocomplete.init(elems);
          });

          document.addEventListener('DOMContentLoaded', function() {
             var elems = document.querySelectorAll('select');
             var instances = M.FormSelect.init(elems);
          });

          document.addEventListener('DOMContentLoaded', function() {
             var elems = document.querySelectorAll('.datepicker');
             var instances = M.Datepicker.init(elems);
          });

          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
            direction: 'right'
         });
  });
   
      </script>
  </body>
  </html>