
<div class="container">
    
        
  <div class="card z-depth-3">
    <div class="card-content">
         <span class="card-title "> <h4>REGISTRO NUEVO SERVICIO</h4> </span>
      
         <div class="card-action">
            <h5>Paciente</h5>
            
                
                  <div class="row">
                    
                    <%- include('table_pacientes.ejs') %>
                  </div>

                <div class="divider"></div>
                <h5>Tipos de Servicios</h5>
                
                <div class="row"></div>
                  <%- include('dropdown_servicios.ejs') %>
                  
                 
                
                <div class="row">
                    <div class="right">
                        <a class="btn-floating btn-large waves-effect waves-light teal btn tooltipped modal-trigger" data-position="left" data-tooltip="Nuevo Servicio" href="#modalEnviar"><i class="material-icons">add</i></a>
                    </div>
                </div>

          </div>
         
  </div>
</div>

    

<!-- Modal Structure -->
<div id="modalEnviar" class="modal">
  <div class="modal-content">
    <h4>Seguro que deseas registrar al Nuevo Servicio?</h4>
    <p>Si desea continuar, entonces procede a darle click de "Aceptar".</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
    <a href="/empleado" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>
</div>