

<div class="container">
    
        
          <div class="card z-depth-3">
            <div class="card-content">
                 <span class="card-title "> <h4>REGISTRO NUEVO PACIENTE</h4> </span>
              
                 <div class="card-action">
                    <h5>Información Personal</h5>
                    <div class="row">
                        <form class="col s12" action="nuevo_paciente" method="POST" id="nuevo_paciente" >
                          <div class="row">
                            <div class="input-field col s6">
                              <input name="primer_nombre" type="text" required>
                              <label for="">Primer Nombre</label>
                            </div>
                            <div class="input-field col s6">
                              <input name="segundo_nombre" type="text" >
                              <label for="">Segundo Nombre</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s6">
                              <input name="apellido_paterno" type="text" required>
                              <label for="">Apellido Paterno</label>
                            </div>
                            <div class="input-field col s6">
                              <input name="apellido_materno" type="text" required >
                              <label for="">Apellido Materno</label>
                            </div>
                          </div>
                          <div class="row">
                                <div class="input-field col s6 m3 " >
                                    <i class="material-icons prefix">account_circle</i>
                                    <select name="sexo" required>
                                    <option value="" disabled selected>Escoge una Opción</option>
                                    <option value="masculino">Masculino</option>
                                    <option value="femenino">Femenino</option>
                                    </select>
                                    <label>Género</label>
                                </div>

                                <div class="input-field col s6 m3 " >
                                  <i class="material-icons prefix">wc</i>
                                  <select name="estado_civil" required>
                                  <option value="" disabled selected>Escoge una Opción</option>
                                  <option value="1">Soltero</option>
                                  <option value="2">Casado</option>
                                  <option value="3">Union Libre</option>
                                  <option value="4">Divorciado</option>
                                  <option value="5">Viudo</option>
                                  </select>
                                  <label>Estado Civil</label>
                                </div>

                                
                              
                                <div class="input-field col s6 m3">
                                    <i class="material-icons prefix">date_range</i>
                                    <input name="fecha_nacimiento" type="text" class="datepicker" required>
                                    <label for="">Fecha de Nacimiento</label>
                                </div>

                                <div class="input-field col s3 m3">
                                  <i class="material-icons prefix">fingerprint</i>
                                  <input name="curp" type="text" required>
                                  <label for="">CURP</label>
                                 
                              </div>
                          </div>

                          <div class="row">
                            
                            
                            <div class="input-field col s3 m3 offset-m1">
                              <i class="material-icons prefix">email</i>
                              <input name="correo_electronico" type="email" required>
                              <label for="">Email</label>
                              <span class="helper-text" data-error="Correo Incorrecto" data-success="Válido"></span>
                            </div>

                          <div class="input-field col s3 m4">
                              <i class="material-icons prefix">phone</i>
                              <input name="telefono" type="tel" required>
                              <label for="">Teléfono</label>
                          </div>
                          <div class="input-field col s3 m3">
                            <i class="material-icons prefix">work</i>
                            <input name="ocupacion" type="tel" required>
                            <label for="">Ocupación</label>
                          </div>
                            
                        <div class="row">
                          
                          <div class="input-field col s12 m8 l8 ">
                            <i class="material-icons prefix">border_color</i>
                            <textarea name="referencia" class="materialize-textarea " data-length="120" required></textarea>
                            <label for="">REFERENCIA</label>
                          </div>
                          <div class="input-field col s6 m3 l3" >
                            <i class="material-icons prefix">account_circle</i>
                            <select name="recibo_fiscal" required>
                            <option value="" disabled selected>Escoge una Opción</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                            </select>
                            <label>Recibo Fiscal</label>
                        </div>
                        
                        </div>   


                      </div>

                      <div class="row">
                        
                        
                        <div class="row"></div>
                        <div class="divider"></div>
                        <h5>Domicilio</h5>

                        <div class="row">
                          <div class="input-field col s3 m3">
                            <input name="calle" type="text" required>
                            <label for="">Calle</label>
                          </div>
                          <!-- <div class="input-field col s3 m1">
                            <input name="num_int" type="text" class="validate">
                            <label for="">Núm. Int</label>
                          </div> -->
                          <!-- <div class="input-field col s3 m1">
                            <input name="num_ext" type="text" class="validate">
                            <label for="">Núm. Ext</label>
                          </div> -->
                          <div class="input-field col s3 m2">
                            <input name="codigo_postal" type="text" required>
                            <label for="">Código Postal</label>
                          </div>
                          <div class="input-field col s3 m2">
                            <input name="municipio" type="text" required>
                            <label for="">Municipio</label>
                          </div>

                          

                          <div class="input-field  col s6 m3 ">
                            
                            <select name='estado' required>
                            <option value="" disabled selected>Escoge una Opción</option>
                            <option value="1">CDMX</option>
                            <option value="2">Campeche</option>
                            <option value="3">Guerrero</option>
                            <option value="4">Querétaro</option>
                            <option value="5">Veracruz</option>
                            <option value="6">Sinaloa</option>
                            <option value="7">Yúcatan</option>
                            <option value="8">Hidalgo</option>
                            </select>
                            <label>Estado</label>
                          </div>


                        </div>
                        
                        

                        <!-- <div class="divider"></div>
                        
                        <h5>Encuesta Nivel SocioEconómico</h5>
                        
                        <div class="row">
                          <div class="input-field col s6 m4 ">
                            <select>
                            <option value="" disabled selected>Último año de estudios aprobado</option>
                            <option value="1">Sin instrucción</option>
                            <option value="2">Preescolar</option>
                            <option value="3">Primaria Incompleta</option>
                            <option value="4">Primaria Completa</option>
                            <option value="5">Secundaria Incompleta</option>
                            <option value="6">Secundaria Completa</option>
                            <option value="7">Preparatoria Incompleta</option>
                            <option value="8">Preparatoria Completa</option>
                            <option value="9">Licenciatura Incompleta</option>
                            <option value="10">Licenciatura Completa</option>
                            <option value="11">Posgrado</option>
                            </select>
                            <label>1. Pensando en el jefe o jefa de hogar...</label>
                          </div>


                          <div class="input-field col s6 m4 ">
                            <select>
                            <option value="" disabled selected>Escoge una opción...</option>
                            <option value="1">0</option>
                            <option value="2">1</option>
                            <option value="3">2 o más</option>

                            </select>
                            <label>2. Baños completos (Regadera y W.C)?</label>
                          </div>

                          
                          <div class="input-field col s6 m4 ">
                            <select>
                            <option value="" disabled selected>Auto y/o Camioneta...</option>
                            <option value="1">0</option>
                            <option value="2">1</option>
                            <option value="2">2 o más</option>
                            </select>
                            <label>3. Con cuantos automóviles cuenta en casa?</label>
                          </div>


                        </div>
                        
                       
                       <div class="row">
                         
                        <div class="input-field col s6 m4 ">
                          <select>
                          <option value="" disabled selected>Escoge una opción...</option>
                          <option value="1">NO TIENE</option>
                          <option value="2">SI TIENE</option>

                          </select>
                          <label>4. Cuenta con Internet WiFi?</label>
                        </div>


                        <div class="input-field col s6 m4 ">
                          <select>
                          <option value="" disabled selected>Cuantas trabajaron el mes pasado?</option>
                          <option value="1">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4 o más</option> 
                          </select>
                          <label>5. Mayores a 14 años que viven en el hogar... </label>
                        </div>

                        
                        <div class="input-field col s6 m4 ">
                          <select>
                          <option value="" disabled selected>*Sin contar pasillos, ni baños</option>
                          <option value="1">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4 o más</option> 
                          </select>
                          <label>6. En su vivienda, cuantos cuartos se usan para dormir?... </label>
                        </div>


                       </div>
                      
                       <div class="divider"></div>-->
                       
                       <!-- <div class="right">
                        <a class="btn-floating btn-large waves-effect waves-light teal btn tooltipped modal-trigger " data-position="left" data-tooltip="Registar" onclick="document.getElementById('nuevo_paciente').submit();"><i class="material-icons">add</i></a>
                      </div> -->
                        <div class="row right">
                          <button type="submit" class="btn-floating btn-large waves-effect waves-light blue hoverable tooltipped" data-position="left" data-tooltip="Registrar"><i class="material-icons">send</i></button>
                          
                        </div>
                        
 
                      </div>



                 </div> 
          </div>
       
           <!-- Modal Structure -->
              <div id="modalEnviar" class="modal">
                <div class="modal-content">
                  <h4>Seguro que deseas registrar al Nuevo Paciente?</h4>
                  <p>Si todo la información del formulario es correcta, entonces procede de click el botón de "Aceptar".</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
                  <a  class="modal-close waves-effect waves-green btn-flat" onclick="document.getElementById('nuevo_paciente').submit();">Aceptar</a> 
                </div>
              </div>




</div>

            

