<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- CSS de Bootstrap -->
      
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet" href="/css/datatables.min.css">
        <title><%= title  %></title>
    </head>
    <body class="has-fixed-sidenav">

       
        
      