<div class="container ">
    <div class="row">
        <div class="col s12 m2 l2 offset-l4">
            <a href="/pacientes/nuevo_paciente"><div class="card-panel hoverable blue white-text z-depth-5 center tooltipped" data-position="left" data-tooltip="Agregar paciente nuevo">PACIENTE NUEVO</div></a>
        </div>
        <div class="col s12 m2 l2">
            <a href="/pacientes/nuevo_servicio"><div class="card-panel hoverable blue white-text z-depth-5 center tooltipped" data-position="bottom" data-tooltip="Crear servicio nuevo">SERVICIO NUEVO</div></a>
        </div>
         <div class="col s12 m2 l2">
            <a href="/gestor_datos/pacientes"><div class="card-panel hoverable blue white-text z-depth-5 center tooltipped" data-position="right" data-tooltip="Lista pacientes">GESTOR PACIENTES</div></a>
        </div> 

    </div>
   
    <br>
    <br>

  <div class="row">

    <div class="col offset-l2">
        <iframe src="https://calendar.google.com/calendar/embed?height=700&amp;wkst=2&amp;bgcolor=%234285F4&amp;ctz=America%2FMexico_City&amp;src=aHQxNW9tYXJAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=bHNqOGRtZHFmZDllN2VoNmhiYm0zdTUxdGRhZTBwbWJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=ZXMubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%237986CB&amp;color=%2333B679&amp;color=%23616161&amp;color=%230B8043&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTz=0&amp;showCalendars=0&amp;showTabs=0&amp;showDate=1&amp;title=DAMAS%20AZULES" style="border:solid 1px #777" width="1100" height="600" frameborder="0" scrolling="no"></iframe>

    </div>
 
    

  </div>





</div>
<!-- <div class="container">

    
    <div class="row">

        <div class="col s12 m8">
            
             <img src="https://pbs.twimg.com/profile_images/771417592019898368/dxrwsw1g_400x400.jpg" alt="">
                       
        </div>

        <div class="col s12 m4">
            <a href='/pacientes/nuevo_paciente'>
            <div class="card-panel  blue lighten-2  hoverable center" id="">
                 <h5 class="white-text"> AGREGAR NUEVO PACIENTE </h5>  
            </div>
            </a>

            <a href="/historial">
            <div class="card-panel  blue lighten-2  hoverable center" id="" >
                <h5 class="white-text">HISTORIAL</h5>      
            </div>
            </a>

            <a href='/pacientes/nuevo_servicio'>
            <div class="card-panel  blue lighten-2  hoverable center" id="">
                <h5 class="white-text">NUEVO SERVICIO</h5>  
            </div>
            </a> 
            
            
        </div>

        

        
  
    </div> 
</div> -->
 

  