
<div class="row">
  <div class="col s12 m12 l12">
    <nav>
      <div class="nav-wrapper z-depth-5  navbar-fixed " style="background-color: #418FDE;">
        <div class="col" >
          <a href="/empleado" class="brand-logo">DAMAS AZULES</a>
        </div>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
        
          <li>
            <a href="badges.html" class="tooltipped" data-position="bottom" data-tooltip="Settings">
              <i class="material-icons">settings_applications</i>
            </a>
          </li>
          <li>
            <a href="mobile.html" class="tooltipped" data-position="bottom" data-tooltip="LogOut">
              <i class="material-icons">exit_to_app</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
      <%- include('sidenav_mobileview.ejs') %>
    </ul>

  </div>
</div>
  

      

      

      



