 <!-- Mobile view -->

 <li>
  <div class="user-view">
          
      <a href="" class="logo-container">
        <img src="http://spreventiva.mx/wp-content/uploads/2019/03/empresa-de-servicios-medicos-empresariales.jpg" alt="" class="circle">
      </a>
      <a href="">
        <span class="name ">Eber Hernández</span>
      </a>
      <a href="">
        <span class="email">eber@itesm.mx</span>
      </a>
  </div>

</li>

<!-- Sidenav Navegation -->
<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
      <div class="divider grey lighten-1 no-padding "></div>
     
      <li class="no-padding">
          <div class="collapsible-header bold waves-effect active waves-teal"> <i class="material-icons">G</i> 
           <h5>Gestor de Datos</h5> 
          </div>
          <div class="collapsible-body">
              <ul class="center ">
                  <li >
                    Pacientes
                  </li>
                  <div class="divider"></div>
                  <li  >
                    Recepcionistas
                  </li>
                  <div class="divider"></div>
                  <li >
                    Doctores
                  </li>
              </ul>
          </div>
        </li>
    
      <div class="divider grey lighten-1 no-padding"></div>
     
      <li class="no-padding">
          <div class="collapsible-header bold waves-effect waves-teal"><i class="material-icons">C</i>   
           <h5>Consulta</h5> 
            
        </div>
          <div class="collapsible-body ">
              <ul class="center ">
                  <li >
                    Historial
                  </li>
                  <div class="divider"></div>
                  <li >
                    Generar Reporte
                  </li>
                  <div class="divider"></div>
                  <li>
                    Casos de Éxito
                  </li>
              </ul>
          </div>
        </li>
        
        <div class="divider grey lighten-1 no-padding"></div>
        
        
        <li class="no-padding">
          <div class="collapsible-header bold waves-effect waves-teal"><i class="material-icons">P</i>   
           <h5>Servicios</h5> 
            
        </div>
          <div class="collapsible-body ">
              <ul class="center ">
                  <li>
                    Nuevo Servicio
                  </li>
                  <div class="divider"></div>
                  <li >
                   Agendar Cita
                  </li>
                  <div class="divider"></div>
                  <li >
                   Eliminar Cita
                  </li>
                  <div class="divider"></div>
                  <li >
                   Calendario
                  </li>
              </ul>
          </div>
        </li>



        

      <div class="divider grey lighten-1 no-padding "></div>

      
        
        
      <li class="no-padding">
        <div class="collapsible-header bold waves-effect waves-teal"><i class="material-icons">settings</i>   
         <h5>Configuraciones</h5> 
          
       </div>
        <div class="collapsible-body ">
            <ul class="center ">
                <li>
                  Seguridad
                </li>
                <div class="divider"></div>
                <li >
                 Usuario
                </li>

            </ul>
        </div>
      </li>

      <div class="divider grey lighten-1 no-padding"></div>

      <li class="no-padding">
        <div class="collapsible-header bold waves-effect waves-teal"><i class="material-icons">exit_to_app</i>   
         <h5>Logout</h5> 
          
       </div>
        
      </li>

      <div class="divider grey lighten-1 no-padding"></div> 





    </ul>
</li>