<ul class="sidenav sidenav-fixed z-depth-3" >
    <li> 
        <div class="user-view navBarFont  " style="background-color: #418FDE;">
           <div class="container center ">    
            <a href=""  >
              <img src="https://pbs.twimg.com/profile_images/771417592019898368/dxrwsw1g_400x400.jpg" alt="Damas Azules" class="circle responsive-img ">
            </a>
          </div>
          <div class="container ">
            <a href="">
              <span class="name"><h5>Eber Hernández</h5></span>
            </a>
            <a href="">
              <span class="email"><h6>eber@itesm.mx</h6></span>
            </a>
          </div>
        </div>

    </li>
   
    <!-- Sidenav Navegation -->
    <li class="no-padding">
        <ul class="collapsible expandable">
            <div class="divider grey lighten-1 no-padding "></div>
           
            <li class="no-padding ">
                <div class="collapsible-header bold waves-effect active waves-teal "> <i class="material-icons">group_work</i> 
                 <h5 >Gestor de Datos</h5> 
                </div>
                <div class="collapsible-body">
                    <ul class="center ">
                       
                      <li class="hoverable "> 
                        <a href="/gestor_datos/pacientes">Pacientes</a> 
                      </li>
                      
                        <div class="divider"></div>
                        <li class="hoverable" >
                          Recepcionistas
                        </li>
                        <div class="divider"></div>
                        <li class="hoverable">
                          Doctores
                        </li>
                    </ul>
                </div>
              </li>
          
            <div class="divider grey lighten-1 no-padding"></div>
           
            <li class="no-padding ">
                <div class="collapsible-header bold waves-effect waves-teal"><i class="material-icons">assignment</i>   
                 <h5>Consulta</h5> 
                  
              </div>
                <div class="collapsible-body ">
                    <ul class="center ">
                        <li class="hoverable ">
                          <a href="/historial">Historial</a> 
                        </li>
                       
                       
                    </ul>
                </div>
              </li>
              
              <div class="divider grey lighten-1 no-padding"></div>
              
              
              <li class="no-padding ">
                <div class="collapsible-header bold waves-effect waves-teal"><i class="material-icons">event</i>   
                 <h5 >Servicios</h5> 
                  
              </div>
                <div class="collapsible-body ">
                    <ul class="center ">
                      
                        <li class="hoverable" > <a href="/pacientes/nuevo_servicio">Nuevo Servicio</a>
                          
                        </li> 
                      
                       
                        <div class="divider"></div>
                       
                        <li class="hoverable modal-trigger" href="#modalCal">
                         Calendario
                        </li>
                    </ul>
                </div>
              </li>
      
              
      
              
    
            <div class="divider grey lighten-1 no-padding "></div>
          </ul>
      </li>
</ul>
    
<div id="modalCal" class="modal">
  <div class="modal-content">
    <h4>Calendario</h4>
    <%- include('calendario.ejs') %> 
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Finalizar</a>
  </div>
</div>


<style>
  .navBarFont a{
    color: #fff;
  } 

  .navBarFont h5{
    color: #fff;
  } 

  .navBarSubOption{

    color: #418FDE;
  }

  .navBarColor{
    background-color: #418FDE;
  }
  
  
</style>
  

 

 

        

