
<div class="container">
  <table id="historial" class="display" style="width:100%" >
    <thead>
      <tr> 
        <th>Primer nombre</th>
        <th>Segundo nombre</th>
        <th>Apellido paterno</th> 
        <th>Apellido materno</th>
        <th>Servicio</th>
        <th>Fecha de Servicio</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <%  for(let paciente of pacientes ){  %>
      <tr>
        <td><%= paciente.primer_nombre %></td>
        <td><%= paciente.segundo_nombre %></td>
        <td><%= paciente.apellido_paterno %></td>
        <td><%= paciente.apellido_materno %></td>
        <td><%= paciente.nombre %></td>
        <td><%= paciente.fecha %></td>
        <td>  <a class="btn-floating  waves-effect waves-light blue modal-trigger " href="#modalCal"><i class="material-icons">visibility</i></a>
              
        </td>
        
        
        
        
      </tr>
      <% } %>

    </tbody>
    <div id="modalCal" class="modal">
      <div class="modal-content">
        <h4>Servicio</h4>
        <%- include('calendario.ejs') %> 
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Finalizar</a>
      </div>
    </div>

    

</table> 

  

</div>
