<div class="container">
  
  <table id="tablas" class="display" style="width:100%" >
      <thead>
        <tr> 
          
          <th>Primer nombre</th>
          <th>Segundo nombre</th>
          <th>Apellido paterno</th> 
          <th>Apellido materno</th>
          <th></th>
          
        </tr>
      </thead>
      <tbody id="gestor_pacientes">
        <%  for(let paciente of pacientes ){  %>
        <tr>
          
          <td><%= paciente.primer_nombre %></td>
          <td><%= paciente.segundo_nombre %></td>
          <td><%= paciente.apellido_paterno %></td>
          <td><%= paciente.apellido_materno %></td>
          <td>  <a class="btn-floating  waves-effect waves-light blue modal-trigger"  href="#modalPaciente<%= paciente.id_paciente %>"><i class="material-icons tooltipped" data-position="left" data-tooltip="Ver">visibility</i></a> 
                <a class="btn-floating  waves-effect waves-light red modal-trigger" href="#eliminarPaciente<%= paciente.id_paciente %>"><i class="material-icons tooltipped" data-position="right" data-tooltip="Eliminar">delete</i></a>
          </td>
        </tr>
        <!-- Modal trigger Information -->
        <div id="modalPaciente<%= paciente.id_paciente %>" class="modal">
          <div class="modal-title">
              <div class="row">
                <h3><span class="blue-text"> Paciente:</span></h3> <h4><%= paciente.apellido_paterno %>  <%= paciente.apellido_materno %>,  <%= paciente.primer_nombre %> </h4>
                
              </div>
          </div> 

          <div class="container">
                <div class="modal-content">
                  <div class="row">
                    <a class="btn-floating  waves-effect waves-light green right"><i class="material-icons tooltipped" data-position="right" data-tooltip="Editar Paciente">create</i></a> 
                  </div>
                  <div class="row">
                    <div class="col s12 m6 l6">
                      <span class="blue-text">Fecha Nac:</span><%= paciente.fecha_nacimiento %> 
                    </div>
                    <div class="col s12 m6 l6">
                      <span class="blue-text">Sexo:</span> <%= paciente.sexo %> 
                    </div>
      
                  </div>
                  <div class="row">
                    <div class="col s12 m6 l6">
                      <span class="blue-text">CURP:</span>  <%= paciente.curp%> 
                    </div>
                    <div class="col s12 m6 l6">
                      <span class="blue-text">Domicilio:</span> <%= paciente.calle %> , <%= paciente.codigo_postal %> , <%= paciente.apellido_municipio %> ,<%= paciente.estado %> 
                    </div>
      
                  </div>
                  <div class="row">
                    <div class="col s12 m6 l6">
                      <span class="blue-text">Correo Electrónico:</span> <%= paciente.correo_electronico %>
                    </div>
                    <div class="col s12 m6 l6">
                      <span class="blue-text">Teléfono:</span> <%= paciente.telefono %>
                    </div>
      
                  </div>
                  <div class="row">
                    <div class="col s12 m6 l6">
                      <span class="blue-text">Ocupación:</span> <%= paciente.ocupacion %>
                    </div>
                    <div class="col s12 m6 l6">
                      <span class="blue-text">Referencia:</span> <%= paciente.referencia %>
                    </div>
      
                
      
      
      
                </div>

          </div>
          </div>   
          <div class="divider"></div>

          <ul class="collapsible">
            <li><div class="collapsible-header"><h4>SERVICIOS REALIZADOS</h4></div></li>
            <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Finalizar</a>
          </div>
        </div>

        <!-- Modal para botón de Eliminar -->
        <div id="eliminarPaciente<%= paciente.id_paciente %>" class="modal">
          <div class="modal-title">
              <div class="row">
                <h4>¿Seguro que desea eliminar registro del paciente  <%= paciente.primer_nombre %>  <%= paciente.apellido_paterno %>  <%= paciente.apellido_materno %>?</h4>

              </div>
              <p><h5> - Al realizar esta acción, también se eliminarán todos sus registros de visitas pasadas. </h5></p>
          </div>  
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-blue btn-flat">Cancelar</a>
            <a href="#!" class="modal-close waves-effect waves-red btn-flat" onclick="eliminar(<%= paciente.id_paciente %>)">Eliminar</a>
          </div>
        </div> 
       
        <% } %>
  
      </tbody>
     
      
  
  </table> 
  

  
  </div>


<script>

const eliminar = (id) => {
            // //El token de protección CSRF
            // const csrf = document.getElementById('_csrf').value;
            
            
             let data =  {id_paciente : id};
            console.log("El id es:"+ data + " se esta eliminando...");
            //función que manda la petición asíncrona
            fetch('/gestor_datos/eliminar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                    // 'csrf-token': csrf
                },
                body: JSON.stringify(data)
            }).then(result => {
                return result.json(); //Regresa otra promesa
            }).then(data => {
                //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
                //...
                console.log("Respuesta de la petición asíncrona");
                console.log(data);
                
               let html = '';
               
               for(let paciente of data.pacientes ){  
       html +=            
        '<tr>'+
          
          '<td>'+ paciente.primer_nombre + '</td>'+
          '<td>'+ paciente.segundo_nombre + '</td>'+
          '<td>'+ paciente.apellido_paterno + '</td>'+
          '<td>'+ paciente.apellido_materno + '</td>' +
          '<td>'+  '<a class="btn-floating  waves-effect waves-light blue modal-trigger"  href="#modalPaciente' +paciente.id_paciente+'"><i class="material-icons tooltipped" data-position="left" data-tooltip="Ver">visibility</i></a>' + 
                '<a class="btn-floating  waves-effect waves-light red modal-trigger" href="#eliminarPaciente'+ paciente.id_paciente +' "><i class="material-icons tooltipped" data-position="right" data-tooltip="Eliminar">delete</i></a>'+
          '</td>'+
        '</tr>'+
       // Modal trigger Information 
        '<div id="modalPaciente' + paciente.id_paciente +' " class="modal">'+
          '<div class="modal-title">'+
              '<div class="row">'+
                '<h3><span class="blue-text"> Paciente:</span></h3> <h4><'+ paciente.apellido_paterno +  paciente.apellido_materno + ','+   paciente.primer_nombre + '</h4>' +
                
              '</div>'+
          '</div>'+ 

          '<div class="container">'+
                '<div class="modal-content">'+
                  '<div class="row">'+
                    '<a class="btn-floating  waves-effect waves-light green right"><i class="material-icons tooltipped" data-position="right" data-tooltip="Editar Paciente">create</i></a>'+
                  '</div>'+
                  '<div class="row">'+
                    '<div class="col s12 m6 l6">'+
                      '<span class="blue-text">Fecha Nac:</span> ' + paciente.fecha_nacimiento + 
                    '</div>'+
                    '<div class="col s12 m6 l6">'+
                      '<span class="blue-text">Sexo:</span>'+ paciente.sexo + 
                    '</div>'+
      
                  '</div>'+
                  '<div class="row">'+
                    '<div class="col s12 m6 l6">'+
                      '<span class="blue-text">CURP:</span>' + paciente.curp + 
                    '</div>'+
                    '<div class="col s12 m6 l6">'+
                      '<span class="blue-text">Domicilio:</span>'+ paciente.calle + ',' + paciente.codigo_postal + ',' + paciente.apellido_municipio +',' + paciente.estado  +
                    '</div>'+
      
                  '</div>'+
                  '<div class="row">'+
                    '<div class="col s12 m6 l6">'+
                      '<span class="blue-text">Correo Electrónico:</span> '+ paciente.correo_electronico +
                    '</div>'+
                    '<div class="col s12 m6 l6">'+
                      '<span class="blue-text">Teléfono:</span> '+ paciente.telefono +
                    '</div>'+
      
                  '</div>'+
                  '<div class="row">'+
                    '<div class="col s12 m6 l6">'+
                      '<span class="blue-text">Ocupación:</span> '+paciente.ocupacion +
                    '</div>' +
                    '<div class="col s12 m6 l6">'+
                      '<span class="blue-text">Referencia:</span> '+paciente.referencia +
                    '</div>'+
      
                
      
      
      
                '</div>'+

          '</div>'+
         '</div>'+   
          '<div class="divider"></div>'+

          '<ul class="collapsible">'+
            '<li><div class="collapsible-header"><h4>SERVICIOS REALIZADOS</h4></div></li>'+
            '<li>'+
              '<div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>'+
              '<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>'+
            '</li>'+
            '<li>'+
              '<div class="collapsible-header"><i class="material-icons">place</i>Second</div>'+
              '<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>'+
            '</li>'+
            '<li>'+
              '<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>'+
              '<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>'+
            '</li>'+
          '</ul>'+
          '<div class="modal-footer">'+
            '<a href="#!" class="modal-close waves-effect waves-green btn-flat">Finalizar</a>'+
          '</div>'+
        '</div>'+

        // Modal para botón de Eliminar 
        '<div id="eliminarPaciente'+ paciente.id_paciente + ' " class="modal">'+
          '<div class="modal-title">'+
              '<div class="row">'+
                '<h4>¿Seguro que desea eliminar registro del paciente '+ paciente.primer_nombre + ' ' + paciente.apellido_paterno+ ' ' + paciente.apellido_materno +'?</h4>'+

              '</div>'+
              '<p><h5> - Al realizar esta acción, también se eliminarán todos sus registros de visitas pasadas.</h5></p>'+
          '</div>'+ 
          '<div class="modal-footer">'+
            '<a href="#!" class="modal-close waves-effect waves-blue btn-flat">Cancelar</a>'+
            '<a href="#!" class="modal-close waves-effect waves-red btn-flat" onclick="eliminar('+paciente.id_paciente+')">Eliminar</a>'+
          '</div>'+
        '</div>';
       
         }


       
             document.getElementById('gestor_pacientes').innerHTML = html;
             M.toast({html: 'El paciente fue eliminado'})
             }).catch(err => {
                 console.log(err);
            });
      };
    
  </script>