<div class="container">
    <table id="historial" class="display" style="width:100%" >
      <thead>
        <tr> 
          <th>Primer nombre</th>
          <th>Segundo nombre</th>
          <th>Apellido paterno</th> 
          <th>Apellido materno</th>
          <th></th>
          
        </tr>
      </thead>
      <tbody>
        <%  for(let paciente of usuarios ){  %>
        <tr>
          <td><%= paciente.primer_nombre %></td>
          <td><%= paciente.segundo_nombre %></td>
          <td><%= paciente.apellido_paterno %></td>
          <td><%= paciente.apellido_materno %></td>
          <td>  
              <a class="btn-floating  waves-effect waves-light blue" href="#modalCal"><i class="material-icons" onclick="document.getElementById('nuevo_paciente').submit();">add</i></a>
          </td>
          
          
          
          
        </tr>
        <% } %>
  
      </tbody>
     

  </table> 
  
    
  
  </div>
  