

<%- include('partials/head.ejs') %>
 <header>
    <%- include('partials/navbar.ejs') %> 
    <%- include('partials/sidenav.ejs') %> 
 </header> 


<%- include('partials/herramientas.ejs') %>


<%- include('partials/footer.ejs') %>

  