<%- include('partials/head.ejs') %>
 <header>
    <%- include('partials/navbar.ejs') %> 
    <%- include('partials/sidenav.ejs') %> 
 </header> 
<div class="container">
   <h3>HISTORIAL MÉDICO</h3>
</div>
<div class="row"></div>
<div class="row"></div>
<%- include('partials/table.ejs') %>

<%- include('partials/footer.ejs') %>

  