<%- include('partials/head.ejs') %>
 <header>
   <%- include('partials/navbar.ejs') %> 
   <%- include('partials/sidenav.ejs') %>

 </header>
    

      <div class="container">
         <h3>GESTOR DE DATOS - PACIENTES</h3>
      </div>
   

<%- include('partials/table_gestor_pacientes.ejs') %>



<%- include('partials/footer.ejs') %>

  