<%- include('partials/head.ejs') %>

<div class="container">
    <div class="card col s12 m12 l8 offset-l2 z-depth-5">
   <div class="row" style="margin-top: 25%;">
       
        <!-- Inicia código     -->
        <div class="col s12 m12 l5 center">
           
            <img src="https://pbs.twimg.com/profile_images/771417592019898368/dxrwsw1g_400x400.jpg" alt="">
        </div>
        <div class="col s12 m12 l6 center">
            <h3>LOGIN</h3>
            <!-- Cambiar por un padding de estilo o algo -->
            <div class="row"></div>
            <div class="input-field row ">
                <i class="material-icons prefix">account_circle</i>
                <input id="email" type="email" class="validate" placeholder="lety@damas.azules">
                <label for="email">Email</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
            <div class="input-field row ">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" class="validate" placeholder="*******  ">
                <label for="password">Password</label>
                <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>

            <div class="row center">
                <label>
                    <input type="checkbox" />
                    <span>Recuerdame</span>
                </label>
            </div>
            
            <div class="row center">
                <a href="#!">Olvidaste tu Contraseña?</a>
            </div>
          
        </div>
        
        
        <!-- Termina código -->
       </div>
   </div>
</div>  

<style>
body{background-color: #418FDE;}

</style>    

<%- include('partials/footer.ejs') %>

  