<%- include('partials/head.ejs') %>
<header>
   <%- include('partials/navbar.ejs') %> 
   <%- include('partials/sidenav.ejs') %> 
</header> 

   <%- include('partials/formulario_nuevo_servicio.ejs') %> 

<%- include('partials/footer.ejs') %>

 